.message-field {
  margin: 10px;
  overflow: hidden;
  color: black;
}
.message {
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  background-color: lightGrey;
}
.message.left {
  float: left;
}
.message.right {
  float: right;
}
.online::before {
  content: "\0000a0";
  background: url(../images/online_icon.gif) no-repeat;
  float: left;
  padding: 5px;
}
.clickable {
  cursor: pointer;
}
.scrollable {
  overflow-y: auto;
}
.chat-window {
  height: 450px;
}
.user-window {
  height: 600px;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}
