<div class="row">
  <div class="">
    <div class="col-sm-4">
      <h2>Chat {{user.email}}</h2>
      <div ng-repeat="u in users">
        <span ng-if="u.email !== user.email" ng-click="loadMessagesForFriend(u)">
          <h3 style="cursor:pointer">{{u.email}}</h3>
          <p ng-if="u.online">: online</p>
        </span>
      </div>
      <h2>Chat Rooms</h2>
      <div ng-repeat="r in chatRooms">
        <span ng-click="loadMessagesForChatRoom(r)">
          <h3 style="cursor:pointer">{{r.name}}</h3>
        </span>
      </div>
      <h3 ng-if="!newRoom" style="cursor:pointer" ng-click="initNewChatRoom()">+</h3>
      <div ng-if="newRoom">
        <form class="form" ng-submit="createChatRoom(newRoom)">
          <button type="submit" class="submit">Create Chat Room</button>
          <input type="text" name="name" placeholder="Chat Room Name" ng-model="newRoom.name" />
          <div ng-repeat="u in newRoom.users">
            <h4>{{u.email}}</h4>
          </div>
          <h3 ng-if="!newRoom.addUser" style="cursor:pointer" ng-click="newRoom.addUser = true;">+</h3>

          <div ng-if="newRoom.addUser">
            <input ng-model="user_search" placeholder="User Email">
            <div ng-if="user_search" ng-repeat="u in users | filter:user_search">
              <span ng-click="newRoom.users.push(u); newRoom.addUser = false;">
                <h3 style="cursor:pointer">{{u.email}}</h3>
              </span>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="col-sm-8">
      <div>Chat with {{chatWindowTitle}}</div>
      <div style="height: 450px; overflow: scroll;" scroll-glue>
        <div ng-repeat="message in messages">
          <div class="message-field">
            <span class="message {{message.incomming? 'left':'right'}}">{{message.text}}</span>
          </div>
        </div>
      </div>
      <form class="form-inline" ng-submit="sendMessage(messageForm)" ng-init="messageForm = {}">
        <input type="text" name="text" placeholder="message" ng-model="messageForm.text" />
        <button type="submit" class="submit">Send Message</button>
        <button class="mainbutton">Request A Quote</button>
      </form>
    </div>
  </div>
</div>
