<div class="row">
  <div class="">
    <div class="col-sm-4">
      <h2>Chat {{user.email}}</h2>
      <div ng-repeat="u in users">
        <span ng-if="u.email !== user.email" ng-click="loadMessagesWithUser(u)"><h3 style="cursor:pointer">{{u.email}}</h3></span>
      </div>
    </div>
    <div class="col-sm-8" style="height: 500px; overflow: scroll;" scroll-glue>
      <div>Chat with {{messageForUser.email}}</div>
      <div ng-repeat="message in messages">
        <div class="message-field">
          <span class="message {{message.incomming? 'left':'right'}}">{{message.text}}</span>
        </div>
      </div>
      <form class="form-inline" ng-submit="sendMessage(messageForm)" ng-init="messageForm = {}">
        <input type="text" name="text" placeholder="message" ng-model="messageForm.text" />
        <button type="submit" class="submit">Send Message</button>
        <button class="mainbutton">Request A Quote</button>
      </form>
    </div>
  </div>
</div>
