.message-field {
  margin: 10px;
  overflow: hidden;
}
.message {
  padding: 10px;
  border-radius: 5px;
  background-color: lightGrey;
}
.message.left {
  float: left;
}
.message.right {
  float: right;
}
