<div class="row">
  <div class="">
    <div class="col-md-4">
      <h2>Log in</h2>
    </div>
    <div class="col-md-8">
      <form class="form">
        <input ng-model="user.email" type="email" name="email" placeholder="Email" />
        <input ng-model="user.password" type="password" name="password" />
        <button ng-click="doLogIn()" type="submit" class="submit">Login</button>
        <button ng-click="doSignUp()"type="submit" class="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>
